<?xml version="1.0" encoding="UTF-8"?>

<beans>
    <bean id="javaBean" class="JavaBean">
       <property name="userName">
           <value>刘伟</value>
       </property>
       <property name="password">
           <value>111111</value>
       </property>

    </bean>
    <bean class="JavaBean1" id="JavaBean">
        <property name="userName">
            <value>邱涛</value>
        </property>
        <property name="password">
            <value>22222
            </value>
        </property>
    </bean>
</beans>